<div class='col-3 p-2 sobre'>

  <h4 class='text-center'>anderson@gmail.com</h4>

  <%= render 'accordion' %>

  <p> algo aqui </p>
  <p> algo aqui tambem </p>

  <img src="<%= current_user.avatar %>" class='img-user-first-post'/>

</div>