.user-messages:hover {
  background-color: #bac1b425;
  border-radius: 10px;
}

.img-messages {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info-user-messages {
  display: flex;
  align-items: center;

  & aside {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
  }
}

.img-messages-user {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info-user-messages-send {
  display: flex;
  justify-content: center;
  margin: 30px 0 5% 0;

  & .aside-info-nome-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    color: white;
  }
}

.chat-message {
  display: block;
  margin-bottom: 10px;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.sent {
  background-color:  #DCF8C6;
  margin-left: auto;
  margin-bottom: 20px;
}

.received {
  background-color: #FFFFFF;
  margin-right: auto;
  margin-bottom: 10px;
}

.form-message {
  width: 100%;
  padding: 0 5px;

  & form {
    width: 60%;
    margin: auto;
  }
}

@media (min-width: 367px) and (max-width: 767px) {
  .form-message form {
    width: 100%;
  }
}