<form action='/search/seguido/user/<%=@user.id%>' method='get' class='mb-5'>

  <div class='d-flex'>
    <input type='text' name='search' placeholder='Buscar pelo usuário' class='form-control'/>
    <button type='submit' class='bi bi-search btn btn-primary ms-2'></button>
  </div>

</form>